.animated-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(7, 1, 185, 0.687);
  overflow: hidden;
  z-index: -1;
}

.box {
  position: fixed;
  top: 0;
  transform: rotate(80deg);
  left: 0;
}

.wave {
  position: fixed;
  top: 0;
  left: 0;
  opacity: .4;
  position: absolute;
  top: 3%;
  left: 10%;
  background: rgba(41, 1, 185, 0.687);
  width: 1500px;
  height: 1300px;
  margin-left: -150px;
  margin-top: -250px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 7000ms infinite linear;
}

.wave.-three {
  animation: drift 7500ms infinite linear;
  background-color: rgba(41, 1, 185, 0.687);
}

.wave.-two {
  animation: drift 3000ms infinite linear;
  opacity: .1;
  background: rgba(41, 1, 185, 0.687);
}

@keyframes drift {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} 